.footer {
  padding: 2rem 6rem 3rem;
  background-color: #e9eff2;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: block;
  line-height: 62px;
  height: 62px;
  display: inline-block;
}

.tec {
  font-weight: 500;
}

@media screen and (width <= 768px) {
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}