html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #333;
}

*:where(:not(iframe, canvas, img, svg, video, sub, sup):not(svg *):not(.default-style *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
