.header {
  padding: 0 6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}

.title {
  height: 62px;
  display: inline-block;
  line-height: 62px;
  font-size: 1.4rem;
}

@media screen and (width <= 768px) {
  .header {
    padding: 0 1rem;
  }
}